# macOS system files
.DS_Store
.AppleDouble
.LSOverride

# npm
/node_modules

# macOS directories potentially created on remote volumes
/.Spotlight-V100
/.Trashes

# IDE or editor files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?